# Cristiano Ronaldo ‚≠ê All Club Goals üìàüìä 

####Downloded use:
<b>!kaggle datasets download -d azminetoushikwasi/cr7-cristiano-ronaldo-all-club-goals-stats</b>

#### Import modules

In [17]:
import pandas as pd
import kaggle
import zipfile
from glob import glob

#### Unpake dataframe

In [19]:
zfile = zipfile.ZipFile(glob('*.zip')[0])
zfile.extractall()

#### Analyze dataframe
1. Shape
2. Columns
3. Some None columns

In [35]:
datafame_CR7 = pd.read_csv(glob('*.csv')[0])
datafame_CR7.shape

(698, 13)

In [36]:
print(datafame_CR7.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698 entries, 0 to 697
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    698 non-null    int64
 1   Goal_no       698 non-null    int64
 2   Season        698 non-null    object
 3   Competition   698 non-null    object
 4   Matchday      698 non-null    object
 5   Venue         698 non-null    object
 6   Team          698 non-null    object
 7   Opponent      698 non-null    object
 8   Result        698 non-null    object
 9   Position      640 non-null    object
 10  Minute        698 non-null    object
 11  At_score      698 non-null    object
 12  Type_of_goal  683 non-null    object
dtypes: int64(2), object(11)
memory usage: 71.0+ KB
None

In [38]:
datafame_CR7.describe()

       Unnamed: 0    Goal_no
count   698.00000  698.00000
mean    348.50000  349.50000
std     201.63953  201.63953
min       0.00000    1.00000
25%     174.25000  175.25000
50%     348.50000  349.50000
75%     522.75000  523.75000
max     697.00000  698.00000

In [39]:
datafame_CR7.head()

,Unnamed: 0,Goal_no,Season,Competition,Matchday,Venue,Team,Opponent,Result,Position,Minute,At_score,Type_of_goal
0,0,1,2/3,Liga Portugal,6,H,Sporting CP,Moreirense FC,3:0,LW,34,2:0,Solo run
1,1,2,2/3,Liga Portugal,6,H,Sporting CP,Moreirense FC,3:0,NaN,90+5,3:0,Header
2,2,3,2/3,Liga Portugal,8,A,Sporting CP,Boavista FC,1:2,NaN,88,1:2,Right-footed shot
3,3,4,2/3,Ta√É¬ßa de Portugal Placard,Fourth Round,H,Sporting CP,CD Estarreja,4:1,NaN,67,3:0,Left-footed shot
4,4,5,2/3,Ta√É¬ßa de Portugal Placard,Fifth Round,H,Sporting CP,FC Oliveira do Hospital,8:1,NaN,13,3:0,NaN